<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <akka>
    <hocon>
      <![CDATA[
      
        akka {
         log-dead-letters = 100
         #stdout-loglevel = DEBUG
         #loglevel = "DEBUG"
         #log-config-on-start = on

          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            
            deployment {
              /SupervisionActor/AnalizatorCoordinatorActor {
                router = round-robin-pool
                nr-of-instances = 10 
                cluster {
                   enabled = on
                   allow-local-routees = on
                   max-nr-of-instances-per-node = 3
                   use-role = scoring 
                }
              }
           }           

          remote {
          log-remote-lifecycle-events = DEBUG
            helios.tcp {
  	          port = 0
  	          hostname = "127.0.0.1"
            }
          }
          
          cluster {
            seed-nodes = ["akka.tcp://AnalazerActorSystem@127.0.0.1:8095"]
            roles = [scoringMain, scoring]
          }
        }      
      
      ]]>
    </hocon>
  </akka>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
